
.sidebar-menu {
  min-height: 90px;
  width: 100%;
}

.menu-header {
  flex-direction: row;
  height: 40px;
  margin-top: 5px;
  width: 100%;
}

.menu-header img{
  height: 28px;
  width: 28px;
}

.no-results {
  color: #F9E1E1;
}

.menu-header span{
  color: #F9E1E1;
  display: block;
  letter-spacing: -0.05em;
  margin-left: 5px;
}

.menu-items {
  list-style: none;
  width: 100%;
}

.menu-item {
  background: linear-gradient(90deg, #72122F 0%, #B74754 100%);
  color: #DBDBDB;
  flex-direction: row;
  height: 48px;
  justify-content: space-between;
  margin-bottom: 1px;
  padding: 0 20px;
  transition: all 0.15s ease-in;
  width: calc(100% - 40px);
}

.menu-item:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #8D2A48 0%, #BF4E5B 100%);
  transition: all 0.15s ease-in
}

.menu-item:active {
  transform: scale(0.92);
  transition: all 0.1s ease-in
}

.menu-name {
  flex-direction: row;
  letter-spacing: -0.03em;
}

.menu-items a {
  text-decoration: none;
}

.totalStations {
  color: #7AEE93;
  font-style: normal;
  margin-right: 10px
}

.menu-name img{
  height: 30px;
  margin-right: 3px;
  width: 30px;
}

.menu-station {
  background: #691D34;
  border-radius: 3px;
  color: #00DBE9;
  height: 25px;
  line-height: 25px;
  padding-right: 5px;
  text-align: right;
  width: 50px;

}

@media (max-width: 868px) {
  .menu-item {
    height: 45px;
    padding: 0 10px;
    width: calc(100% - 20px);
  }
}