.intro {
  background: #8B3251;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 500;
}

.intro span {
  color: #F9C6C6;
  font-weight: 500;
  font-size: 0.95em;
  letter-spacing: -0.08em;
}

.intro .loading {
  font-size: 0.8em;
  margin-top: 10px;
  opacity: 0;
}

.intro .copy-right {
  font-size: 0.9em;
  margin-bottom: 20px;
}

@media (max-width: 768px){
  .intro img {
    height: auto;
    width: 158px;
  }
  .intro span {
    font-size: 0.9em;
  }
  .intro .loading {
    font-size: 0.75em;
  }
  .intro .copy-right {
    font-size: 0.85em;
  }
}

@media (max-width: 468px){
  .intro img {
    height: auto;
    width: 150px;
  }
  .intro span {
    font-size: 0.88em;
  }
  .intro .loading {
    font-size: 0.73em;
  }
  .intro .copy-right {
    font-size: 0.82em;
  }
}