
.footer {
  background: linear-gradient(90deg, #72122F 0%, #B74754 100%);
  flex-direction: row;
  height: 75px;
  justify-content: space-between;
  margin-top: 10px;
  width: calc(100% - 12px);
}

footer span {
  color: #FFD0D0;
  display: inline-block;
  font-weight: 600;
}

footer span:first-child {
  margin-left: 15px;
}

footer span:last-child {
  margin-right: 15px;
}

.footer-icons {
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  width: 250px;
}

.footer-icons a{
  height: 35px;
  width: 35px;
} 

.footer-icons img{
  height: auto;
  transition: all 0.15s ease-in;
  width: 35px;
}

.footer-icons img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.15s ease-in;
}

.footer-icons img:active {
  transform: scale(1.4);
  transition: all 0.15s ease-in;
}

@media (max-width: 1068px) {
  .footer {
    height: 72px;
  }
  .footer-icons {
    width: 230px;
  }
  .footer-icons a {
    width: 32px;
    height: 32px;
  }
  .footer-icons img{
    width: 32px;
  }
}

@media (max-width: 868px) {
  .footer {
    height: 70px;
  }
  .footer-icons {
    width: 210px;
  }
  .footer-icons a {
    width: 30px;
    height: 30px;
  }
  .footer-icons img {
    width: 30px;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    height: 180px;
  }
  footer span:first-child {
    margin-left: 0;
  }
  footer span:last-child {
    margin-right: 0;
  }
  .footer-icons {
    height: 50px;
  }
}