.top-navbar {
  display: none;
}

@media (max-width: 768px) {
  .top-navbar {
    background: #A00B39;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 668px) {
  .top-navbar {
    height: 55px;
  }
}

@media (max-width: 568px) {
  .top-navbar {
    height: 50px;
  }
}