
.dashboard-container {
  float: left;
  margin-left: 5px;
  min-height: 890px;
  width: calc(77.24% - 5px);
}

@media (max-width: 968px) {
  .dashboard-container {
    width: calc(72% - 5px);
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    margin-left: 0;
    min-height: calc(100vh - 100px);
    width: 100%;
  }
}