* {
  margin: 0;
  padding: 0;
}

.content-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body, .main-container {
  min-height: 100vh;
  background-color: #352929;
  width: 100%;
}

.main-wrapper {
  background: #4E0C80;
  padding: 5px 0;
  min-height: 890px;
  width: 1300px;
}

.content-wrapper {
  min-height: 890px;
  width: calc(100% - 8px);
}

@media (max-width: 1310px){
  .main-wrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-wrapper, .content-wrapper {
    min-height: 200px;
    padding-top: 0;
  }
}

/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4E3D80;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #4E2A60;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4E2D80;
}




