
.sidebar {
  background: rgba(196, 83, 96, 0.8);
  float: left;
  min-height: 890px;
  width: 22.76%;
}

@media (max-width: 968px) {
  .sidebar {
    width: 28%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}